extends ../layout.pug

block content
    h1 Hello pugs 

    h2 This is h2 tag

    h3 This is h3 tag

    p This is tag for a long text

    .mg-bottom50
        b This is bold text!
    
    img(src="/img/1.jpg")